<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MaryCakes</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Responsive navbar-->

    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">MaryCakes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class=" py-5" style="background-color: rgb(208, 159, 212);">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-dark mb-2">Desperte os Sentidos com Nossos Produtos
                            Exclusivos</h1>
                        <p class=" lead text-dark mb-4">Dê as boas-vindas a um mundo onde o sabor ganha vida e a
                            estética se torna realidade. Em cada produto, um toque de magia que transforma momentos em
                            lembranças preciosas. Descubra conosco como cada detalhe é pensado para criar experiências
                            que encantam. Venha explorar e desvendar o que torna nossos produtos tão irresistíveis. Seja
                            parte dessa jornada de sabor e beleza.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-dark btn-lg px-4 me-sm-3" href="#features">Serviços</a>
                            <a class="btn btn-dark btn-lg px-4 me-sm-3" href="#kits"> Conheça os Kit-festas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-car-front-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
                        </svg></div>
                    <h2 class="h4 fw-bolder">Entrega</h2>
                    <p>Comodidade é o nosso lema. Com a nossa prioridade em mente, entregamos todos os pedidos
                        diretamente à sua porta. Sem preocupações, sem demoras. A sua satisfação é nossa motivação.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-wrench-adjustable" viewBox="0 0 16 16">
                            <path d="M16 4.5a4.492 4.492 0 0 1-1.703 3.526L13 5l2.959-1.11c.027.2.041.403.041.61Z" />
                            <path
                                d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.49 4.49 0 0 0 11.5 9Zm-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376ZM3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
                        </svg></i></div>
                    <h2 class="h4 fw-bolder">Personalização</h2>
                    <p>Sabemos que cada evento é único, assim como você. É por isso que oferecemos um toque pessoal a
                        cada detalhe. Nossos produtos são totalmente personalizáveis para se alinharem perfeitamente à
                        sua visão. Desde o sabor do bolo até a estética da decoração, cada escolha reflete a sua
                        individualidade e torna a celebração verdadeiramente sua.</p>

                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><svg
                            xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                            class="bi bi-cash-coin" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                            <path
                                d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                            <path
                                d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                        </svg></i></div>
                    <h2 class="h4 fw-bolder">Economia</h2>
                    <p>Acreditamos que excelência não deve vir com um preço exorbitante. Com o nosso compromisso com a
                        economia inteligente, você recebe produtos de alta qualidade a preços conscientes. Não é
                        necessário sacrificar o bolso para desfrutar de uma experiência excepcional. Valorizamos sua
                        confiança e trabalhamos para garantir que cada centavo seja bem investido em momentos
                        memoráveis.</p>

                </div>
            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class=" py-5 border-bottom" style="background-color: rgb(208, 159, 212);" id="kits">
        <div class="container px-5 my-5">

            <div class="text-center mb-5">
                <h2 class="fw-bolder">Conheça nossos Kit-Festas: Descubra o dncanto a cada linha</h2>
                <p class="lead mb-0">Cada linha de nossos Kit-Festas é um convite para desvendar um mundo de celebração
                    e alegria. Acompanhe-nos e descubra o sabor único de cada detalhe cuidadosamente elaborado. Do bolo
                    irresistível à decoração encantadora, cada linha conta uma história de momentos especiais
                    compartilhados. Prepare-se para se encantar. Conheça nossos Kit-Festas e faça de cada ocasião um
                    evento inesquecível.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Kit-Family</div>
                            <div class="mb-3">
                                <span class="display-6 fw-bold">R$150,00</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>5 pessoas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Bolo de 1 kg (sabor a sua escolha)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Decoração
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Toppers
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Doces 20un (diversos)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Salgados 30un (diversos)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Refrigerante 2un
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary"
                                    href="https://www.whatsapp.com/?lang=pt_BR">Entre em contato</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Kit-BigFamily
                            </div>
                            <div class="mb-3">
                                <span class="display-6 fw-bold">R$250,oo</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>10 pessoas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Bolo de 2 kg
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Decoração
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Toppers
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Doces 25un (diversos)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Salgados 50un (diversos)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Refrigerante 3un
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary"
                                    href="https://www.whatsapp.com/?lang=pt_BR">Entre em contato</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Kit-Casório </div>
                            <div class="mb-3">
                                <span class="display-6 fw-bold">R$1500,00</span>
                                <span class="text-muted">/ a partir</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>25 pessoas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Bolo de 6 kg
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Bem-casado 100un
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Doses 100un
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Salgados 400un
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-check text-primary"></i>
                                    Degustação
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong> + mais opções</strong>
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary"
                                    href="https://www.whatsapp.com/?lang=pt_BR">Entre em contato</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Comentários dos Clientes Satisfeitos com Nossos Produtos</h2>
                <p class="lead mb-0">Nada nos traz mais alegria do que ver nossos clientes desfrutando dos nossos
                    produtos. Aqui estão alguns dos comentários emocionantes que recebemos daqueles que escolheram
                    celebrar conosco:</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">"O Kit-Casório fez do nosso dia especial algo verdadeiramente
                                        mágico. O bolo estava maravilhoso e a decoração elegante complementou
                                        perfeitamente a nossa cerimônia íntima."</p>
                                    <div class="small text-muted">-Lucas e Júlia M., São Paulo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1"> "O bolo não apenas tinha um sabor incrível, mas também era
                                        visualmente incrível. A decoração temática que escolhemos para a festa do meu
                                        filho se destacou e fez com que todos se sentissem imersos na atmosfera."</p>
                                    <div class="small text-muted">- Ricardo L., São Paulo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section class="py-5" style="background-color: rgb(208, 159, 212);">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Nos conte sobre o que achou do produto</h2>
                <p class="lead mb-0">Para melhorarmos ainda mais sua experiência</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Envio do formulário com sucesso!</div>
                        </div>
                    </div>


                    <form action="/submit" method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="nome" id="name" type="text"
                                placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Nome:</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">É necessario o nome.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email"
                                placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Endereço de Email:</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">É necessario um email.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Esse Email não é válido.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="telefone" id="phone" type="tel"
                                placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Telefone:</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">É necessário um número de
                                telefone.
                            </div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea name="msg" class="form-control" id="message" type="text"
                                placeholder="Enter your message here..." style="height: 10rem"
                                data-sb-validations="required"></textarea>
                            <label for="message">Mensagem</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">É necessário uma mensagem.
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                type="submit">Submit</button></div>

                    </form>
                    {% if success_message %}
                    <div class="text-center mb-3">
                        <div class="fw-bolder">{{ success_message }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-white">

        <div class="d-flex justify-content-center fs-2 gap-4">
            <p>Nós siga nas redes:</p>
            <a class="text-gradient" href="#!"><i class="bi bi-whatsapp"></i></a>
            <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
            <a class="text-gradient" href="#!"><i class="bi bi-instagram"></i></a>
        </div>

    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>